* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 65.5%;
}
:root {
    /* Fuentes */
    --font-tittle:'Hammersmith One', sans-serif;
    --font-texto:'Roboto Mono', monospace;
    /* fondos */
    --background--body:#271520;
}
body {
    background:  var(--background--body);
}
header, footer {
    width: 100vw;
}
main{
    width: 100vw;
    height: 100%;
}
.header-container {
    height: 900px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(21, 1fr);
    place-content: center center;
}
.header-container--marco1 {
    background-image: url(/assets/oemc2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 15px solid var(--background--body);
    grid-column: 5 / 7;
    grid-row: 6 / 14;
}
.header-container--marco2 {
    background-image: url(/assets/LogoW-SNoba.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 15px solid var(--background--body);
    border-radius: 80px 0 0 0;
    grid-column: 3 / 5;
    grid-row: 9 / 16;
}
.header-container--marco3 {
    background-image: url(/assets/ciberpunk.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    grid-column: 4 / 6;
    grid-row: 3 / 10;
}
.header-container--tittle {
    font-family: var(--font-tittle);
    display: grid;
    grid-column-start: 3 ;
    grid-row: -4 / 5;
    font-size: 2rem;
    font-weight: 300;
    color: white;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
    place-self: start start;
    
}
.header-container--name {
    font-family: var(--font-tittle);
    display: grid;
    grid-column-start: 6 ;
    grid-row: -1 / 1;
    font-size: 4rem;
    font-weight: bold;
    color: #fff;
    line-height: 4rem;
    font-style: italic;
    transform: rotate(180deg);
    writing-mode: vertical-rl;
    text-align: end;
    place-self: start end;
    
}
.header-container--marco4 {
    font-family: var(--font-texto);
    font-size: 1.2rem;
    color: white;
    text-align: justify;
    grid-column: 5 / 7;
    grid-row: 17 / 19;    
}
main .main-body{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr auto 1fr 1fr;
    grid-auto-rows: 1fr;
    grid-template-areas: 
    ".  .   body    .   .";
}
main .main-body--pestaña {
    grid-area: body;
    width: 90vw;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
main .main-body--pestaña .body--pestaña-container{
    box-shadow: 10px 5px 5px #414345;
    border-radius: 2em 1em 4em / 0.5em 3em;
    padding: 10px;
    margin: 20px 10px;
    width: 100vw;
    min-width: 300px;
    max-width: 350px;
    margin-bottom: 30px;
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-auto-rows: 1fr;
    
    background: #0052D4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.body--pestaña-container .imagen-pestaña {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    place-self: center center;
}
.imagen-pestaña img {
    width: 100px;
    height: 100px;
}
.body--pestaña-container .title-pestaña {
    grid-column: 1 / 3;
    grid-row: 2 / 3;  
    display: grid;
    place-items: start center;
}
.body--pestaña-container .title-pestaña p {
    font-size: 2.2rem;
    font-weight: bold;
    font-family: var(--font-tittle);
}
.body--pestaña-container .logosLenguajes-pestaña {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}
.body--pestaña-container .logosLenguajes-pestaña ul {
    display: flex;
}
.body--pestaña-container .logosLenguajes-pestaña li {
    list-style: none;    
}
.body--pestaña-container .logosLenguajes-pestaña img {
    width: 30px;
    height: 40px;
    margin: 0 10px;
}
.body--pestaña-container .titleDescripcion-pestaña {
    grid-column: 1 / 3;
    grid-row: 3 / 4;
    display: grid;
    place-items: center center;
}
.body--pestaña-container .titleDescripcion-pestaña p{
    font-size: 2rem;
    font-family: var(--font-texto);
}
.body--pestaña-container .textoDescripcion-pestaña {
    grid-column: 1 / 3;
    grid-row: 3 / 5;
}
.body--pestaña-container .textoDescripcion-pestaña p {
    text-align: justify;
    font-size: 1.3rem;
    font-family: var(--font-texto);
    padding: 20px;
}
.button-pestaña{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    place-items: center center;
}
.button {
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

    
.button2 {
      background-color: white; 
      color: black; 
      border: 2px solid #008CBA;
      box-shadow: 10px 5px 5px black;
}

.button2:hover {
      background-color: #8A2387;
      color: white;
      border: none;
}
.button3-pestaña {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}
.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-flow: 1fr;
    background-color: white;
}
.footer-container-trabajemosJuntos,
.footer-container-redesSociales,
.footer-container-logo {
    display: grid;
    place-self: center center
}
.footer-container-trabajemosJuntos h3,
.footer-container-redesSociales h3 {
    font-family: var(--font-tittle);
    font-size: 2rem;
    margin: 10px 0;
}
.footer-container-trabajemosJuntos li,
.footer-container-redesSociales li {
    font-family: var(--font-texto);
    font-size: 1.3rem;
    list-style: none;
    color: blue;
    margin: 5px 3px;
}
.footer-container .footer-container-logo {
    grid-column: 3 / 4;
    grid-row: 1;
}
.footer-container .footer-container-logo img{
    width: 120px;
    margin: 10px auto;
}
.footer-container .footer-container-logo P {
    font-family: var(--font-tittle);
    font-size: 1.4rem;
    font-weight: bold;
    font-style: italic;
}