<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/estilosAsignatura.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <title>Escuela</title>
</head>
<body>
    <header>
        <nav>
            <a href="">
                <img src="/assent/img/Menú-hamburguesa-herramienta-practica-o-icono-inutil.png" alt="">
                <h2>Menu</h2>
            </a>
        </nav>
        <div class="header-loginProfes">
            <div class="loginProfes-text">
                <h2>Apellido Apellido</h2>
                <h2>NOMBRE PROFESOR</h2>
            </div>
            <div class="img-profe">
            </div>
        </div>
    </header>
    <main>
        <section class="main-container">
            <section class="main-informacion">
                <h3>Seccion de asignaturas</h3><p>Selecciona la asignatura que desear ver para conocer los nombre y notas del grupo de estudiantes.</p>
            </section>
            <section class="main-asignaturas">
                <form action="">
                    <div class="asignatura-titulo">
                        ASIGNATURAS
                    </div>
                    <div class="asignatura-texto">
                        <a href="/views/tabla1.html">Ciencias Naturales</a>
                    </div>
                    <div class="asignatura-texto">
                        <a href="/views/tabla1.html">Ciencias Sociales</a>
                    </div>
                    <div class="asignatura-texto">
                        <a href="/views/tabla1.html">Ciencias Politicas</a>
                    </div>
                </form>
            </section>
        </section>
    </main>
	<script src="popup.js"></script>
</body>
</html>