<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/estilosTabla.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <title>Escuela</title>
</head>
<body>
    <header>
        <nav>
            <a href="">
                <img src="/assent/img/Menú-hamburguesa-herramienta-practica-o-icono-inutil.png" alt="">
                <h2>Menu</h2>
            </a>
        </nav>
        <div class="header-loginProfes">
            <div class="loginProfes-text">
                <h2>Apellido Apellido</h2>
                <h2>NOMBRE PROFESOR</h2>
            </div>
            <div class="img-profe">
            </div>
        </div>
    </header>
    <main>
		<div class="overlay" id="overlay">
			<div class="popup" id="popup">
				<a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><i class="fas fa-times"></i></a>
				<h3>INGRESAR NOTAS</h3>
				<h4>oscar eduardo montalvo camacho</h4>
				<form action="">
					<div class="contenedor-inputs">
						<input type="number" placeholder="P1">
						<input type="number" placeholder="P2">
						<input type="number" placeholder="P3">
						<input type="number" placeholder="P4">
					</div>
                    <input type="submit" class="btn-submit" value="Guardar">
				</form>
			</div>
		</div>
        <section class="main-container">
            <section class="main-informacion">
                <h3>Seccion de estudiantes.</h3><p>Encontraras la tabla del total de los estudiantes en curso y asignatura seleccionadas. puedes ver sus notas y el promedio de calificacion, si se deasea hacer una modificacion puede seleccionar cada estudiante. para ver verlo las opciones a detalle.</p>
            </section>
            <section class="main-tabla">
                <div class="alumno">
                    <div class="alumno-nombre">
                        <h2>Nombre</h2>
                    </div>
                    <div class="nota1">P1</div>
                    <div class="nota2">P2</div>
                    <div class="nota3">P3</div>
                    <div class="nota4">P4</div>
                    <div class="nota5">PROM</div>
                </div>
                <a href="#" id="btn-abrir-popup" class="alumno1 btn-abrir-popup">
                    <div class="numeral">1.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno2 btn-abrir-popup">
                    <div class="numeral">2.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno3 btn-abrir-popup">
                    <div class="numeral">3.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno4 btn-abrir-popup">
                    <div class="numeral">4.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno5 btn-abrir-popup">
                    <div class="numeral">5.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno6 btn-abrir-popup">
                    <div class="numeral">6.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno7 btn-abrir-popup">
                    <div class="numeral">7.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno8 btn-abrir-popup">
                    <div class="numeral">8.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno9 btn-abrir-popup">
                    <div class="numeral">9.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno10 btn-abrir-popup">
                    <div class="numeral">10.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno11 btn-abrir-popup">
                    <div class="numeral">11.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno12 btn-abrir-popup">
                    <div class="numeral">12.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno13 btn-abrir-popup">
                    <div class="numeral">13.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno14 btn-abrir-popup">
                    <div class="numeral">14.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno15 btn-abrir-popup">
                    <div class="numeral">15.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno16 btn-abrir-popup">
                    <div class="numeral">16.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno17 btn-abrir-popup">
                    <div class="numeral">17.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno18 btn-abrir-popup">
                    <div class="numeral">18.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno19 btn-abrir-popup">
                    <div class="numeral">19.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno20 btn-abrir-popup">
                    <div class="numeral">20.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno21 btn-abrir-popup">
                    <div class="numeral">21.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno22 btn-abrir-popup">
                    <div class="numeral">22.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno23 btn-abrir-popup">
                    <div class="numeral">23.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno24 btn-abrir-popup">
                    <div class="numeral">24.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno25 btn-abrir-popup">
                    <div class="numeral">25.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno26 btn-abrir-popup">
                    <div class="numeral">26.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno27 btn-abrir-popup">
                    <div class="numeral">27.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno28 btn-abrir-popup">
                    <div class="numeral">28.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno29 btn-abrir-popup">
                    <div class="numeral">29.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno30 btn-abrir-popup">
                    <div class="numeral">30.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno31 btn-abrir-popup">
                    <div class="numeral">31.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno32 btn-abrir-popup">
                    <div class="numeral">32.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno33 btn-abrir-popup">
                    <div class="numeral">33</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno34 btn-abrir-popup">
                    <div class="numeral">34.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno35 btn-abrir-popup">
                    <div class="numeral">35.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno36 btn-abrir-popup">
                    <div class="numeral">36.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno37 btn-abrir-popup">
                    <div class="numeral">37.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno38 btn-abrir-popup">
                    <div class="numeral">38.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno39 btn-abrir-popup">
                    <div class="numeral">39.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
                <a href="#" id="btn-abrir-popup" class="alumno40 btn-abrir-popup">
                    <div class="numeral">40.</div>
                    <div class="alumno-nombre">
                        <h2>oscar eduardo montalvo camacho</h2>
                    </div>
                    <div class="nota1">2,2</div>
                    <div class="nota2">2,2</div>
                    <div class="nota3">2,2</div>
                    <div class="nota4">2,2</div>
                    <div class="nota5">PROM</div>
                </a>
            </section>
        </section>
    </main>
	<script src="popup.js"></script>
</body>
</html>