:root {
    --azul: #A4EBF3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
main {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--azul);
    padding: 5px 0;
}
.nav-menu {
    margin: 0 50px;
}
.nav-menu img, .footer-Instagram-numero img {
    width: 30px;
}
.footer-facebook-numero img {
    width: 35px;
}
.nav-logo img {
    width: 170px;
}
.container-main {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.container-producto {
    display: inline-flex;
    align-items: center;
    margin: 5px 9px;
}
.container-producto img:hover{
    box-shadow: 4px 4px 4px #000;
}
.container-producto img {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
}
.container-footer {
    background: var(--azul);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fff, var(--azul));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fff, var(--azul)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    flex-wrap: wrap;
}
.container-footer .footer-grid{
    font-size: 1rem;
    font-weight: 200;
    padding-top: 20px;
}
.container-footer .footer-grid div p{
    font-weight: 500;
    font-size: 1.4rem;
}
.ws-tel-numero a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    border: 1px solid;
    width: 150px;
    margin: auto;
    border-radius: 10px;
}
.ws-tel-numero p {
    font-size: 1.6rem;
    font-weight: 900;
}
.ws-tel-numero img {
    width: 40px;
}
.hoarios-numero-ls {
    border-right: 1px solid;
    margin-right: 15px;
    padding-right: 15px;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.footer-tel-numero-grid img{
    width: 30px;
}
.footer-tel-numero-grid {
    width: 205px;
}
.footer-tel-grid{
    grid-column: 2 / 5;
    grid-row: 2 / 4;
    align-items: flex-start;
}
.footer-tel-numero-grid a:hover{
    background-color: green;
    color: white;
    border: none;
}
.footer-tel-numero-grid a {
    width: 80%;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 10px;
    color: black;
}
.footer-dir-grid{
    grid-column: 5 / 7;
    grid-row: 2 / 4;
    align-items: flex-start;

}
.footer-Horarios-grid {
    grid-column: 7 / 10;
    grid-row: 2 / 4;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-Horarios-numero-grid {
    display: flex;
    margin-top: 15px;
}
.hoarios-numero-ls-grid {
    border-right:  1px solid #000;
    margin-right: 10px;
    padding-right: 10px;
}
.footer-RedesS-grid {
    grid-column: 10 / 12;
    grid-row: 2 / 4;
    align-items: flex-start;
}
.footer-dir-grid h3{
    margin-bottom: 10px;
}
.footer-Instagram-numero-grid a, .footer-facebook-numero-grid a{
    display: flex;
    color: black;
    align-items: center;
    margin-top: 15px;
}
.footer-Instagram-numero-grid img{
    width: 20px;
    margin-right: 10px;
}
.footer-facebook-numero-grid img {
    width: 25px;
    margin-right: 9px;
}
.foote-logo-grid {
    grid-column: 12 / 15;
    grid-row: 2 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foote-logo-grid img {
    width: 90%;
}

/* estilos del menu modal */
.nav-menu button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.container-menu{
    background-color: var(--azul);
    width: 100%;
    height: 100vh;
    display: none;
}
.close{
    font-size: 50px;
    font-weight: 700;
    color: white;
    display: flex;
    float: right;
    margin-right: 50px;
    padding: 10px;
}
.container-menuLink{
    width: 100%;
    height: 60vh;
    padding-top: 80px;
    text-align: center;
}
.container-menuLink a{
    color: black;
    text-decoration: none;
}
.container-menuLink p{
    margin: 30px;
    font-size: 2rem;
    font-weight: 700;
}
.container-menuLink h1{
    color: white;
    font-size: 3rem;
    margin: 30px;
}
.container-menuLink h3{
    color: white;
    font-weight: 200;
}
.container-menuLink p:hover{
    border-bottom: 3px solid;
}
.menuLink-redes{
    display: flex;
    justify-content: center;
}
.menuLink-redes p img{
    width: 20px;
}