:root {
    --azul: #A4EBF3;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
main {
    max-width: 1440px;
    width: 100%;
    margin: auto;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--azul);
    padding: 5px 0;
}
.nav-menu {
    margin: 0 50px;
}
.nav-menu img, .footer-Instagram-numero img {
    width: 30px;
}
.footer-facebook-numero img {
    width: 35px;
}
.nav-logo img {
    width: 170px;
}
.container-main {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.container-producto {
    display: inline-flex;
    align-items: center;
    margin: 5px 9px;
}
.container-producto img {
    max-width: 300px;
    width: 100%;
    box-shadow: 1px 1px 2px;
    border-radius: 10px;
}
.container-footer {
    background: var(--azul);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fff, var(--azul));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fff, var(--azul)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.container-footer .footer-grid{
    font-size: 1rem;
    font-weight: 200;
    padding-top: 20px;
}
.footer-grid .ws-tel-numero a {
    width: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    border: 1px solid;
    width: 150px;
    margin: auto;
    border-radius: 10px;
}
.footer-tel-numero-grid a:hover{
    background-color: green;
    color: white;
    border: none;
}
.ws-tel-numero p {
    font-size: 1.6rem;
    font-weight: 900;
}
.ws-tel-numero img {
    width: 40px;
}
.footer-tel-numero  a{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    border: 1px solid;
    width: 200px;
    margin: auto;
    border-radius: 10px;
}
.hoarios-numero-ls {
    border-right: 1px solid;
    margin-right: 15px;
    padding-right: 15px;
}
.footer-tel-numero p, .footer-dir-numero p, .hoarios-numero-ls p, .hoarios-numero-d p{
    font-size: 1.6rem;
    font-weight: 900;
}
.footer-tel, .footer-dir, .footer-Horarios, .footer-RedesS {
    padding-top: 20px;
    margin: 0 20px;
}
.footer-tel h3, .footer-dir h3, .footer-Horarios h3, .footer-RedesS h3{
    padding: 10px 0;
}
.footer-Instagram-numero a, .footer-facebook-numero a{
    align-items: center;
}
.footer-Instagram-numero img, .footer-facebook-numero img {
    margin-right: 5px;
}
.footer-tel-numero img {
    width: 40px;
}
.footer-Horarios-numero {
    display: flex;
    justify-content: center;
}
.footer-facebook-numero a, .footer-Instagram-numero a {
    display: flex;
    justify-content: center;
    color: black;
    padding: 8px 0;
}
.foote-logo  img{
    width: 200px;
    margin: 15px 0;
}
.foote-logo {
    margin: 0 20px;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.footer-tel-numero-grid img{
    width: 30px;
}
.footer-grid .footer-tel-grid{
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    align-items: flex-start;
}
.footer-grid .footer-tel-numero-grid a {
    width: 170px;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 5px;
    color: black;
}
.footer-grid .footer-tel-numero-grid a:hover {
    background-color: green;
    color: white;
    font-weight: 700;
}
.footer-grid .footer-dir-grid{
    grid-column: 3 / 6;
    grid-row: 3 / 7;
    align-items: flex-start;
}
.footer-grid .footer-Horarios-grid {
    grid-column: 7 / 12;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-grid .footer-Horarios-numero-grid {
    display: flex;
    margin-top: 5px;
}
.hoarios-numero-ls-grid {
    border-right:  1px solid #000;
    margin-right: 10px;
    padding-right: 10px;
}
.footer-grid .footer-RedesS-grid {
    grid-column: 7 / 10;
    grid-row: 3 / 6;
    align-items: flex-start;
    margin-top: 7px;
}
.container-link-RedeS {
    display: flex;
}
.container-link-RedeS div{
    margin: 5px;
}
.footer-dir-grid{
    margin-top: 5px;
}
.footer-dir-grid h3{
    margin-bottom: 10px;
}
.footer-grid .footer-Instagram-numero-grid a, .footer-grid .footer-facebook-numero-grid a{
    display: flex;
    color: black;
    align-items: center;
    margin-top: 5px;
}
.footer-Instagram-numero-grid img{
    width: 20px;
    margin-right: 10px;
}
.footer-facebook-numero-grid img {
    width: 100%;
    margin-right: 9px;
}
.footer-grid .foote-logo-grid {
    grid-column: 12 / 15;
    grid-row: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-grid .foote-logo-grid img {
    width: 120px;
}