:root {
    --azul: #A4EBF3;
    --rosado: #fdbaf8;
    --rosadoT: rgb(253, 186, 248, 0.8);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
.footer-Instagram-numero img {
    width: 30px;
}
.footer-facebook-numero img {
    width: 35px;
}
.nav-logo img {
    width: 170px;
}
.container-producto img {
    width: 320px;
}
.container-items {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}
.producto-img img {
    width: 45vw;
}
.container-producto {
    display: flex;
    justify-content: center;
}
.container-producto-detalle {
    padding: 20px 10px;
    position: relative;
    z-index: 1;
    background-color: var(--azul);
    width: 45vw;
    margin: 20px 10px;
    box-shadow: 2px 2px 4px;
}
.hoarios-numero-ls {
    border-right: 1px solid;
    margin-right: 15px;
    padding-right: 15px;
}
.producto-detalle-titulo {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    padding-bottom: 20px;
}
.producto-detalle-descripcion {
    font-size: 1.2rem;
    padding-bottom: 10px;
    margin: 0 10px;
}
.producto-detalle-btn {
    width: 100px;
    height: 30px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--rosado);
    border-radius: 10px;
    box-shadow: 2px 2px 4px;
    margin-bottom: 30px;
}
.prducto-detalle-boton {
    margin: 10px 7px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.prducto-detalle-boton a {
    color: black;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
}
.producto-detalle-precio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
    margin-bottom: 30px;
}
.foote-logo {
    margin: 0 20px;
}
.ws-tel-numero {
    margin-right: 10px;
}
.ws-tel-numero a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    text-decoration: none;
    border: 1px solid;
    width: 150px;
    margin: auto;
    border-radius: 10px;
}
.container-footer {
    background: var(--azul);  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fff, var(--azul));  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fff, var(--azul)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.container-footer .footer-grid{
    margin-top: 20px;
    font-size: 1rem;
    font-weight: 200;
}
.footer-grid {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    grid-template-rows: repeat(5, 1fr);
}
.footer-tel-numero-grid img{
    width: 30px;
}
.footer-grid .footer-tel-grid{
    grid-column: 3 / 6;
    grid-row: 1 / 3;
    align-items: flex-start;
}
.footer-grid .footer-tel-numero-grid a {
    width: 130px;
    display: flex;
    align-items: center;
    border: 1px solid;
    border-radius: 15px;
    padding: 5px 10px;
    margin-top: 5px;
    color: black;
}
.footer-grid .footer-tel-numero-grid a:hover {
    background-color: green;
    color: white;
    font-weight: 700;
}
.footer-grid .footer-dir-grid{
    grid-column: 3 / 6;
    grid-row: 3 / 7;
    align-items: flex-start;
}
.footer-grid .footer-Horarios-grid {
    grid-column: 7 / 12;
    grid-row: 1 / 3;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.footer-grid .footer-Horarios-numero-grid {
    display: flex;
    margin-top: 5px;
}
.hoarios-numero-ls-grid {
    border-right:  1px solid #000;
    margin-right: 10px;
    padding-right: 10px;
}
.footer-grid .footer-RedesS-grid {
    grid-column: 7 / 10;
    grid-row: 3 / 6;
    align-items: flex-start;
    margin-top: 7px;
}
.container-link-RedeS {
    display: flex;
}
.container-link-RedeS div{
    margin: 5px;
}
.footer-dir-grid{
    margin-top: 5px;
}
.footer-dir-grid h3{
    margin-bottom: 10px;
}
.footer-grid .footer-Instagram-numero-grid a, .footer-grid .footer-facebook-numero-grid a{
    display: flex;
    color: black;
    align-items: center;
    margin-top: 5px;
}
.footer-Instagram-numero-grid img{
    width: 20px;
    margin-right: 10px;
}
.footer-facebook-numero-grid img {
    width: 30px;
    margin-right: 9px;
}
.footer-grid .foote-logo-grid {
    grid-column: 12 / 15;
    grid-row: 1 / 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-grid .foote-logo-grid img {
    width: 120px;
}