*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    max-width: 1100px;
    display:block;
    margin-left: auto;
    margin-right: auto;
}
.portada img, .servicios-uno img{
    max-width: 1100px;
}
.noticias div{
    display: flex;
}
.redesportada, #redesportada{
    width: 80rem;
    position: absolute;
}
.noticias input{
    width: 40vw;
}
nav{
    height: 6rem;
}
nav p{
    color: seagreen;
}
nav svg{
    margin: 1rem;
}
.aliados img{
    width: 200px;
}
.nosotros, .noticias div{
    justify-content: center;
}
.nosotros-dos, .nosotros-uno{
    width: 50rem;
}
.galeria1 img, .galeria2 img{
    width: 30vw;
}
.galeria3 img{
    width: 50vh;
    height: 80vh;
}
.galeria{
    display: flex;
    justify-content: center;
}
.galeria4{
    display: none;
}
.galeriapeq{
    width: 35vw;
    display: flex;
    flex-direction: column;
}
.form{
    text-align: center;
}
.form input{
    width: 60vw;
    height: 6vh;
}
.map img{
    width: 40vw;
}
footer{
    display: flex;
    justify-content: center;
}
.servicios2-uno{
    padding: 3rem;
}
.servicios2-uno img{
    margin: 0px;
}
.montaña{
    background: url(/recursos/montana.jpeg);
    display: fixed;
    min-width: 1100px;
}
.map img{
    width: 40rem;
}
.redes{
    width: 20rem;
}
.servicios2-uno{
    border: solid;
    border-radius: 10px;
    max-width: 300px;
}