*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}
nav p{
    font-size: 3rem;
    color: blue;
}
.nosotros{
    display: flex;  
    margin: 2rem;
}
.nosotros-uno{
    min-width: 420px;
}
.tablet{
    display: none;
}
.servicios2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.servicios2-uno, .servicios2-uno img{
    max-width: 250px;
    margin: 3rem;
}
.galeria img{
    height: 20rem;
}
.montaña{
    background: url(/recursos/montana.png);
    display: fixed;
}
.informacion{
    justify-content: center;
    display: flex;
}