/* 
1. Posicionamiento 
2. Modelo de caja (Box model)
3. Tipografia
4. Visuales
5. miselaneus / otros
*/
:root{
    /* tamaños de fuentes */
    --tittle: 5rem;
    --subtittle: 4rem;
    --text: 2rem;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
nav {
    position: absolute;
    width: 100vw;
}
nav ul {
    display: flex;
    flex-direction: left;
    margin-left: 6%;
}
nav li {
    align-items: initial;
    margin: 5px 20px;
    list-style: none;
    font-size: var(--text);
}
nav li a {
    text-decoration: none;
    color: black;
} 
main .section-main-portada {
    display: inline-flex;
    width: 55%;
}
main .section-main-slide {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}
.main-portada-container {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    width: 100%;
    height: 800px;
    background-image: url(recursos/portada-fondo-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.main-slide-container {
    display: inline-block;
    justify-content: space-around;
    width: 40%;
    height: 800px;
    overflow: hidden;
}
.main-portada-container img {
    grid-row: 2 / 4;
    width: 300px;
    margin: 0 auto;
}
.main-slide-container .slide {
    width: 400px;
    margin-top: 10px;
}
.main-slide-container .slide1 {
    margin: auto;
    padding: 0;
    overflow: hidden;
}
.main-slide-container .slide1 ul {
    width: 200%;
    display: flex;
    padding: 0;
    
    animation: cambio1 10s infinite;
}
.main-slide-container .slide li {
    width: 100%;
    list-style: none;
    overflow: hidden;
}
.main-slide-container .slide li img {
    width: 100%;
    height: 100%;
    max-width: 430px;
}
@keyframes cambio1 {
    0% { margin-left : 0; }
    25% { margin-left : 0; }

    40% { margin-left : -100%; }
    80% { margin-left : -100%; }
}
.main-slide-container .slide2 {
    margin: auto;
    padding: 0;
    overflow: hidden;
}
.main-slide-container .slide2 ul{
    width: 200%;
    display: flex;
    padding: 0;
    animation: cambio2 10s infinite;
}
@keyframes cambio2 {
    85% { margin-left:  -100%; }
    40% { margin-left: -100%; }
    20% { margin-left: 0;}
    0% { margin-left: 0;}
}
.main-historia-container {
    width: 100vw;
    height: 100%;
}
.main-historia-container .historia-container-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    margin-top: 15px;
    background-image: url(recursos/banner5-desktop.png);

    background-repeat: no-repeat;
    background-size: cover;
}
.main-historia-container .historia-container-titulo p{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    font-size: var(--tittle);
    font-weight: bold;
}
.main-historia-container .historia-container-texto { 
    
    background: fixed;
    background-image: url(recursos/historia-fondo-movil.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-historia-container .historia-container-texto .historia-texto {
    position: relative;
    display: flex;
    justify-content: flex-end;
    margin-right: 40px;
    width: 100%;
    height: 450px;
}
.main-historia-container .historia-container-texto .historia-texto p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 620px;
    height: 260px;
    padding: 10px;
    margin: auto;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.5);
    text-align: right;
    font-size: var(--text);
    font-weight: 300;
    line-height: 2.3rem;
}
.main-trabajo-container {
    width: 100vw;
}
.main-trabajo-container .trabajo-container-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 200px;
    background-image: url(recursos/banner2-desktop.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.main-trabajo-container .trabajo-container-titulo p {
    padding-top: 10px;
    font-weight: bold;
    font-size: var(--tittle);
}
.main-trabajo-container .trabajo-container-texto {
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
    min-width: 700px;
    max-width: 1200px;
    background-image: url(recursos/trabajo-fondo-tablet-desktop.png);
    background-repeat: no-repeat;
    margin: 0 auto;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type:  x proximity;
}
.main-trabajo-container .trabajo-container-texto p {
    position: relative;
    display: flex;
    align-items: center;
    width: 360px;
    height: 450px;
    padding: 10px;
    margin: 15px;
    font-size: var(--text);
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 7px;
    box-shadow: 3px 3px 7px #00a2ff;
}
.main-servicios-container .servicios-container-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-image: url(recursos/banner3desktop.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.main-servicios-container .servicios-container-titulo p {
    font-size: var(--tittle);
    font-weight: bold;
}
.main-servicios-container .servicios-container-texto {
    position: relative;
    width: 700px;
    display: flex;
    margin: 50px auto;
    font-size: var(--text);
}
.main-servicios-container .servicios-container-texto .texto--servicios {
    display: flex;
    align-items: center;
}
.servicios-container-texto .servicios-container-img {
    position: relative;
    width: 320px;
    height: 180px;
    top: 0px;
}
.main-servicios-container .servicios-container-texto .servicios1 {
    background-image: url(recursos/servicio1-tablet-desktop.png);

}
.main-servicios-container .servicios-container-texto .servicios2 {
    background-image: url(recursos/servicio2-tablet-desktop.png);

}
.main-servicios-container .servicios-container-texto .servicios3 {
    background-image: url(recursos/servicio3-tablet-desktop.png);

}
.main-servicios-container .servicios-container-texto .servicios4 {
    background-image: url(recursos/servicio4-tablet-desktop.png);

}
.servicios-container-texto .texto--servicios {
    width: 45vw;
}
.servicios-container-texto .texto--servicios p{
    width: 100%;
    position: relative;
    z-index: 1;
    font-size: var(--text);
    line-height: 1.6rem;
}
.formulario-container {
    width: 100vw;
    height: 900px;
    background-image: url(recursos/fondo_contacto.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.formulario-container .formulario-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    background-image: url(recursos/banner4-desktop.png);   
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.formulario-container .formulario-banner p {
    font-size: var(--tittle);
    font-weight: bold;
    color: white;
}
.formulario-container .formulario-container-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 600px;
    margin: 0 auto;

}
.formulario-container-form .form-detalle {
    margin: 20px 0;
    padding-top: 60px;
}
.formulario-container-form .form-detalle p {
    font-size: var(--text);
    font-weight: bold;
    line-height: 2rem;
}
.formulario-container-form .formulario form p, input {
    margin-bottom: 10px;
}
.formulario-container-form .formulario form p {
    font-size: var(--subtittle);
}
.formulario-container-form .formulario form input {
    width: 100%;
    height: 20px;
    padding-left: 10px;
    font-size: var(--text);
    font-weight: bold;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid #828282;
    background: transparent;
}
.formulario form textarea {
    background: transparent;
    width: 350px;
}
.formulario-container-form .formulario form button {
    width: 120px;
    margin: 10px 10px 30px 10px;
    border: none;
}
.formulario-container-form .formulario form button input {
    height: 30px;
    padding: 0;
    margin: 0;
}
footer {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    margin-top: 30px;
    padding-top: 20px;
}
footer .footer-info {
    text-align: center;
    font-size: var(--text);
}
footer .footer-info ul li {
    margin: 10px 0;
    list-style: none;
}
footer .footer-img {
    text-align: center;
}
footer .footer-img img {

    width: 180px;
    margin-top: 20px;
    margin-bottom: 20px;
}